---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import axios from "axios";

const BASE_URL = import.meta.env.PUBLIC_BACKEND_URL;
const response = await axios.get(`${BASE_URL}/api/about`)
const data = response.data.data;
console.log("Fetched about data:", data);
---

<div>
    <h2>{data.title}</h2>
    <!-- <p>{data.content}</p>
    <img src={data.media} alt="About Image" /> -->
</div>