---
import qs from "qs";

const homePageQuery = qs.stringify(
    {
    populate: {
      section7: {
        populate: "*"
      },
    },
  },
    { encodeValuesOnly: true },
);

async function getStrapiData(path: string) {
    const BASE_URL = import.meta.env.PUBLIC_BACKEND_URL;
    const url = new URL(path, BASE_URL);
    url.search = homePageQuery;

    try {
        const res = await fetch(url.href);
        const json = await res.json();
        return json.data;
    } catch (error) {
        console.error("Strapi fetch error:", error);
    }
}

const data = await getStrapiData("/api/home-page");

const section7 = data?.section7?.find(
    (b: any) => b.__component === "layout.section7",
);

---

<section class="section7">
    <div
        style="background-color: #252a2e; color: white; text-align: center; padding: 81px 0; font-family: Inter, sans-serif;"
    >
        <div style="width: 100%; max-width: 720px; margin: 0 auto 73px;">
            <div
                style="font-size: 24px; font-weight: 400; color: white; line-height: 140%;"
            >
                {section7?.section7Heading}
            </div>
        </div>

        <div
            style="position: relative; overflow: hidden;max-width:max-content;margin: 40px auto 0px auto; padding: 0 49px;"
        >
            <div
                style="overflow-x: auto; white-space: nowrap; display: flex; gap: 64px; align-items: center; scroll-behavior: smooth;"
            >
                {
                    section7?.section7LogoImage?.map((img: any) => (
                        <img
                            src={`${import.meta.env.PUBLIC_BACKEND_URL}${img.url}`}
                            alt={img.name}
                            style="height: auto; max-height: 55px; object-fit: contain;"
                        />
                    ))
                }
            </div>
        </div>
    </div>
</section>
